.header-banner{
    display: flex;
    flex-direction: column;
    background:linear-gradient(90deg,rgba(248, 237, 235,.1),
    rgba(248, 237, 235,.2),rgba(248, 237, 235,.3),
    rgba(248, 237, 235, 0.4),rgba(248, 237, 235,.5)) , url("https://image.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-grid-background_53876-129728.jpg") center/cover fixed no-repeat ;
    /* background:
    linear-gradient(rgba(0, 0, 0,.7),rgba(0, 0, 0,.7),rgba(0, 0, 0,.7),rgba(0, 0, 0,.7)) , url("https://img.freepik.com/free-vector/hand-drawn-web-developers_23-2148819604.jpg?w=2000") center/cover  no-repeat fixed ; */
    position: relative;
    height: 100vh;
    height: calc(100vh - 75px);
    width: 100%;
    margin: 0;
    padding:0;
    color:#222 ;
    overflow-x: hidden;
}
.intro-main-container{
    width:100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*====end of header====*/