.intro-container{
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    margin-right: 2rem;
  }
.intro{
    position: relative;
    margin:.5rem auto ;  
    text-align: center;
}
 .intro img {
     position: relative;
    animation: hand 1.8s infinite ;
     transform-origin: 70% 70%;
     display: block;
     margin-bottom: 1.35rem;
} 

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro h1{
    font-size: 2rem;
    color: var(--clr-light);
    text-align: center;
}
.intro h3.front-end-title{
    font-size: 1.8rem;
    color: var(--clr-light);
}
.intro .btn:hover {
    background:transparent;
}
@media(max-width:767px){
  .intro h1{
    font-size: 1.5rem;
   
  }
  .intro h3.front-end-title{
    font-size: 1.5rem;
    color: var(--clr-light);
}
.intro img{
  width: 37px;
  margin-bottom: 1rem;
  display: block;
}
}
@media(min-width:1030px){
    .intro{
        text-align: center;
        width:90%;
        margin: 0 auto;
    } 
h3.front-end-title{
    margin: 1em;

 }
}