
.services{
    margin-bottom: 4em;
    overflow: hidden;
    
}

h3.front-end-title{
    margin: 1em 0;
    color: #56e7d4;
}

section.my_services{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    margin-bottom: 4em;
    overflow: hidden;
}
.section_title_services{
    color: var(--clr-accent);
}
.my_services .underline{
    background: var(--clr-light);
}

@media (min-width:800px){
    .services{
        margin:auto ;
        display: flex;
        max-width: 1000px;
}
.services img {
    max-width: 500px;
}
.services p {
    margin-left: 1rem;
}
    .service{
        max-width: 500px;
        margin: 1em;
    }
    
    
}